{% extends 'base.html' %}
{% block content %}
    <h1>{{ hiker.username }} ({{ hiker.pk }})'s Details</h1>
    <p>Email: {{ hiker.email }}</p>
    <p>Age: {{ hiker.age }}</p>
    <p>Phone: {{ hiker.phone }}</p>
    <p>Address: {{ hiker.address }}</p>
    {% if hiker.hiker_image %}
        <img src="{{ hiker.hiker_image.url }}" alt="{{ hiker.username }}" style="width: 80px; height: auto;">
    {% else %}
        <p>No image uploaded.</p>
    {% endif %}
    {% if hiker.is_approved %}
        <p>You, {{ hiker }} are approved to perform certain operations!</p>
    {% else %}
        <p>You, {{ hiker }} are not approved to perform certain operations!</p>
    {% endif %}
    <a href="{% url 'hiker_update' hiker.pk %}" class="button btn-lg btn-primary">Update</a>
    <a href="{% url 'hiker_delete' hiker.pk %}" class="button btn-lg btn-primary">Delete {{ user }}</a>
{% endblock %}
