{% extends 'base.html' %}
{% load static %}

{% block content %}

    <title>Navigation Panel</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <div class="header nav">
        {% if user.is_authenticated %}
            {#            <a href="{% url 'hiker_details' user.pk %}">Hiker Details</a>#}
            <a href="{% url 'trail_create' %}">Create Trail</a>
            <a href="{% url 'trail_list' %}">List Trails</a>
            <a href="{% url 'approved_hikers' %}">List Approved Hikers</a>
{#            <a href="{% url 'unapproved_hikers' %}">List Unapproved Hikers</a>   TODO: is it appropriate#} 
            <a>The "{{ user }}" is authenticated!</a>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger center-button">Logout</button>
                <p class="text-background">
                    <a href="{% url 'hiker_details' user.pk %}">Hiker Details</a>
                </p>
            </form>
        {% else %}
            <a>The "{{ user }}" is not authenticated!</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
        {% if user.is_approved %}
            <a>The "{{ user }}" is approved!</a>
        {% else %}
            <a>The "{{ user }}" is not approved!</a>
        {% endif %}
    </div>
{% endblock %}
