body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Times New Roman", sans-serif;
    background-image: url('static/images/home.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

.footer {
    display: table-cell;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    position: relative;
    width: 100%;
    bottom: 0;
    min-height: 50px;
    z-index: 1;
}  /* Adjust this value as needed */

.footer-item { margin: 0 1em;
    text-align: center; }

/*footer {*/
/*    margin-top: auto;*/
/*    background-color: rgba(0, 0, 0, 0.5); !* Semi-transparent background *!*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    padding: 1em;*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/

/*footer { position: absolute;*/
/*    bottom: 0; width: 100%;*/
/*    height: 50px; !* Adjust this to the height of your footer *!*/
/*    background-color: #f8f9fa;*/
/*    text-align: center;*/
/*    padding: 10px 0;*/
/*}*/

header {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    /*padding: 20px;*/
    text-align: left;
}

.logo img {
    max-width: 100px;
    left: auto /* Adjust the size of your logo */
}

main {
    padding-bottom: 100px;/* Adjust to accommodate footer height */
    display: flow;
    justify-content: center;
    align-items: center;
    /*height: calc(80% - 50px); !* Adjust to accommodate header and footer height *!*/
    text-align: center;
}

.content {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.top {
  --offset: 100px;

  position: sticky;
  bottom: 20px;
  margin-right: -1400px;
  place-self: end;
  /*margin-top: calc(100vh + var(--offset));*/

  width: 60px;
  aspect-ratio: 1;
  background: #ff8b24;
  border-radius: 10px;
  /*font-size: 0;*/
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ccc;
}

.topnav {
    background-color: #007BFF;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: #ff6a00;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

h1 {
    color: grey;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 5px;
}

a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #00bbff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #00b318;
}

/* Add this to your CSS file, e.g., static/css/home.css */
.social-media-buttons {
    margin-top: 20px;
}

.social-media-buttons .btn {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.social-media-buttons .btn i {
    margin-right: 5px;
}

button {
    /*display: ruby;*/
    align-items: center;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.large-button:hover { background-color: #45a049; /* Darker green on hover */ }

button img {
    margin-right: 5px;
}

.center-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left-button {
    display: block;
    margin-left: 0;
}

.fixed-button {
    position: fixed;
    bottom: 20px; /* Distance from the bottom */
    right: 20px;  /* Distance from the right */
    background-color: #007bff; /* Button color */
    color: #ffffff; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    padding: 2px 2px; /* Padding inside the button */
    font-size: 2px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    z-index: 2; /* Ensure the button stays above other content */
}

.small-button {
    padding: 5px 10px;
    font-size: 12px;
}

.small-profile-image {
    width: 50px; /* Set the desired width */
    height: 50px; /* Set the desired height */
    border-radius: 50%; /* Optional: make the image circular */
}

.text-background {
    background-color: #f0f0f0; /* Set the desired background color */
    padding: 10px; /* Add some padding */
    border-radius: 5px; /* Optional: add rounded corners */
}

.comment-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.comment {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.comment p {
    margin: 5px 0;
}

.comment strong {
    color: #333;
}

.comment em {
    color: #777;
    font-size: 0.9em;
}
.language-form {
    float: right;
    margin-right: 20px; /* Adjust as needed */
}
