body, html {
    margin: 0;
    padding: 0;
    height: 150%;
    font-family: "Times New Roman", sans-serif;
    background-image: url('../images/home.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    text-align: left;
}

.logo img {
    max-width: 100px;
    left: auto /* Adjust the size of your logo */
}

main {
    display: flow;
    justify-content: center;
    align-items: center;
    height: calc(80% - 140px); /* Adjust to accommodate header and footer height */
    text-align: center;
}

.content {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ccc;
}

.topnav {
    background-color: #007BFF;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: blue;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}