<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
</head>
<body>
<h1>API Documentation</h1>
<p>Welcome to the API documentation page.</p>
<p>Update Hiker or LOGIN or home with navHere you can find all the information you need to interact with the API.</p>
<h2>Успешно се регистрирахте</h2>
<button class="button" onclick="window.location.href='/hikers/hiker_update.html';">Вече може да допълните профила си.
</button>
<button>Или да продължите към сайта</button>
</body>
</html>