{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <body>
    <div class="content">
        <h1>Welcome to Hiking Trails</h1>

        {% if user.is_authenticated %}
            <h1>Hello, {{ user.username }}!</h1>
            <a href="{% url 'trail_list' %}">Continue</a>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger center-button">Logout</button>
            </form>
        {% else %}
            <h1>Hello, anonymous user!</h1>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'trail_list' %}">As а guest</a>
        {% endif %}
    </div>
    </body>
{% endblock %}
