<!-- trails_detail.html -->
{% extends 'base.html' %}
{% block content %}
    <h1>{{ trail.name }}, by {{ trail.hiker }}</h1>
    <p>Location: {{ trail.location }}</p>
    <p>Difficulty: {{ trail.get_difficulty_display }}</p>
    <p>Description: {{ trail.description }}</p>
    <p>Length: {{ trail.length }} km</p>
    <p>Elevation Gain: {{ trail.elevation_gain }} m</p>
    <img src="{{ trail.image.url }}" alt="{{ trail.name }}" style="width: 300px; height: auto;">
    <a href="{% url 'trail_list' %}" class="button btn-lg btn-primary">Back to trails list</a>
    <a href="{% url 'comment_trail' trail.pk %}" class="button btn-lg btn-primary">Comment</a>
    <a href="{% url 'trail_delete' trail.pk %}" class="button btn-lg btn-primary">Delete</a>

    <h2>Comments</h2>
    {% for comment in trail.comment_set.all %}
        <div class="comment">
            <p><strong>{{ comment.hiker.username }}</strong> said:</p>
            <p>{{ comment.text }}</p>
            <p><em>Posted on {{ comment.created_at }}</em></p>
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
    
{% endblock %}